.container {
  text-align: center;
  padding: 2rem 0;
  position: relative;
  margin-top: -2rem; /* Add negative margin to the container */
  
  p {
    font-size: 16px;
    color: var(--footer-text-color);
    margin: 0; /* Remove default paragraph margin */
    padding: 1rem 0; /* Add padding instead of margin for spacing */
  }
}